.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
}
.userInfoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border: 5px solid black;
  border-radius: 10px;
}
.title{
  background-color: #3e3e3e;
  color: #eee;
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.idInfo{
  background-color: #eee;
  color: #3e3e3e;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 70px;
}
.userPersonal{
  background-color: #3e3e3e;
  color: #eee;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  height: 70px;
}
.emailInfo{
  background-color: #eee;
  color: #3e3e3e;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 70px;
}
